.custom-error-message {
    color: white;
    background-color: red;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    position: fixed;
    top: 14.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 9999; */
  }
  